.car{
    position: relative;
    width: 200px;
    animation: car_moving 4s ease-in-out forwards;

}

.box{
    background-color: red;
}

.top{
    width: 130px;
    height: 20px;
}
.down{
    width: 200px;
    height: 20px;
}

.wheels{
    position: relative;
    bottom: 10px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wheel{
    border: solid black;
    margin: 6px;
    background-color: gray;
    height: 25px;
    width: 25px;
    border-radius: 14px;
}

@keyframes car_moving {    
    from {
        left: -20%;
    }

    to {
        left: 80%;
    }
}

